* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
body {
    font-family: Arial, sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)),

        url("https://images.unsplash.com/photo-1498050108023-c5249f4df085");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

 
.container {

    width: 550px;
    padding: 35px;

    background: rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(12px);

    border-radius: 20px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.3);

    border: 1px solid rgba(255,255,255,0.2);
}

 
h1 {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-size: 42px;
}
 
.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

 
input {

    flex: 1;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background: rgba(255,255,255,0.8);

    font-size: 16px;

    outline: none;
}

 
button {

    padding: 10px 16px;

    border: none;

    border-radius: 10px;

    color: white;

    font-size: 14px;

    cursor: pointer;

    transition: 0.3s;
}

 
.task-input button {

    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.task-input button:hover {

    transform: scale(1.05);
}

 
li {

    margin-top: 15px;

    background: #ffffff;

    color: #333;

    padding: 15px;

    border-radius: 12px;

    list-style: none;

    display: flex;

    justify-content: space-between;

    align-items: center;

    transition: 0.3s;

    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}

li:hover {

    transform: translateY(-2px);

    background: #f1f3f5;
}

 
.button-group {

    display: flex;
    gap: 10px;
}

 
.pending-btn {

    background: #ff4d4d;
}

 
.completed-btn {

    background: #28c76f;
}

 
.delete-btn {

    background: #339af0;
}
 
.completed {

    text-decoration: line-through;

    color: gray;
}